.formContainer{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer form{ 
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2cqh;
}

.formContainer form input[type = 'submit']{ 
  
  margin-top: 0.5em;
  padding: 1.4cqh;
  border: 1px solid #949494;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1.6cqh;
  color: #333;
  background-color: transparent;
  cursor: pointer;
}


.formContainer form input[type = 'submit']:hover{
  background-color: var(--colorido);
  border: 1px solid var(--colorido);
  color: var(--corFundo);
}


.formContainer p{ 
  font-weight: 600;
}