.footer{ 
  display: flex;
  justify-content: space-between;
}

.footer span{ 
  display: flex;
  align-items: center;
  gap: 1cqh;
  font-weight: 600;
}

.footer span p, .footer span h2{
   font-size: 2cqh;
}

@media (max-width: 1000px){
  .footer span h2{ 
    font-size: 3cqw;
  }

  .footer ul{ 
    padding: 0;
    gap: 3cqw;
  }

  .footer span p { 
    font-size: 3cqw;
  }

  .footer div img{ 
    width: 10cqw;
  }
}