@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
::-webkit-scrollbar-thumb {
  background-color: var(--colorido);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--corFundo);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: "DM sans";
  margin: 0;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.5px;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}

:root {
  --corTexto: #231F20;
  --corFundo: #fefefe;
  --colorido: #E99E22;
  --corError: #c55e5e;
  --corSucesso: #5e8e76;
}

span{ 
  font-size: 3cqh;
  font-weight: 600;
}

.colored{
  color: var(--colorido)
}

.success{ 
  color: var(--corSucesso)
}

.error{ 
  color: var(--corError);
}

#root{ 
  padding: 4cqh;
  background-color: var(--corFundo);
}

main{ 
  display: flex;
  height: 100%;
  flex-direction: column;
}

h2{ 
  font-size: 2.5cqh;
}

